@tailwind base;
@tailwind components;
@tailwind utilities;




/* custome  class  */
/* bg-[#006CFE] text-white py-1 px-8 rounded-[50px] */
.my-btn{
    background-color: #006CFE;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 50px;
    text-align: center;
    font-weight: 500;
}
.my-btn-outline{
    /* background-color: #006CFE; */
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 50px;
    text-align: center;
    border: 1px solid black;
    font-weight: 500;
}